header {
  width: 100%;
  background-color: $mainBlack;
  padding: 10px 0;

  .header-container {
    @include page-format;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 50px;
    }
  }
}
