main {
  @include page-format;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .album-container {
    background-color: $mainBlack;
    color: $txtColor;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 200px;
      width: 200px;
      margin-bottom: 10px;
    }

    li {
      list-style: none;
    }

    h3 {
      color: $titleColor;
    }
  }
}
